<div class="container w-100 justify-content-center">
  <div class="box-card">
    <%= simple_form_for article, html: { multipart: true } do |f| %>
      <%= f.input :title %>
      <%= f.input :content, as: :rich_text_area %>
      <%= f.input :image, hint: "Bitte ein Bild hochladen, es wird als Thumbnail verwendet" %>
      <%= f.input :date, as: :date, html5: true, selected: Date.today %>

      <div class="text-center">
        <%= f.submit "Erstellen", class: "btn btn-custom-primary mb-3" %>
      </div>
    <% end %>
  </div>
</div>
