<div class="container w-100" style="justify-content: center">
  <div class="hock shadow-lg">
    <%= form_with(model: article, html: { multipart: true }) do |form| %>
      <% if article.errors.any? %>
        <% flash[:alert] = article.errors.full_message %>
      <% end %>

      <div class="input-group mb-3 w-100">
        <span class="input-group-text">@</span>
        <div class="form-floating">
          <input name="article[title]"
                 id="article_title"
                 placeholder="title"
                 type="text"
                 value="<%= article.title if present? %>"
                 required
                 aria-label="title"
                 class="form-control">

          <label for="article_title">Titel</label>
        </div>
      </div>


      <div class="field">
        <%= form.label :content %>
        <%= form.rich_text_area :content %>
      </div>

      <%= form.hidden_field :date, value: Date.today %>

      <div class="input-group mb-3 w-100">
      <span class="input-group-text">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
          <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z"/>
          <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
        </svg>
      </span>
        <div class="form-floating">
          <input name="article[images][]"
                 id="article_images"
                 placeholder="Profilbild"
                 type="file"
                 multiple="multiple"
                 aria-label="images"
                 class="form-control">

          <label for="article_image">Titelbild</label>
        </div>
      </div>


      <div style="text-align: center; margin-top: 20px">
        <%= form.submit "Artikel posten", class: "btn btn-custom-success m-3" %>
      </div>
    <% end %>
  </div>
</div>
