<style>
    .input-group-text {
        background-color: #dddddd;
        border-color: black;
        border-width: 2px;
        font-weight: 500;
        box-shadow: 4px 4px 0 0 black;
    }

</style>

<h1 class="dm-sans-title" style="font-size: calc(30px + 3vw)">Beiträge</h1>
<div>
  <% if leader_signed_in? %>
    <%= link_to "Neuen Artikel erstellen", new_article_path, class: "btn btn-custom-success", style: "margin: 20px" %>
  <% end %>
</div>

<div class="row justify-content-center">
  <% @articles.each do |article| %>
    <div class="col-lg-3 col-md-6 col-sm-10">
      <div class="card shadow-lg grow-xl" style="margin: 2vw; border: 2.5px solid green">
        <%= image_tag url_for(article.images.first), height: 300, width: 200, class: "card-img-top" if article.images.attached? %>
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text">
            <%= truncate(article.content, length: 300, separator: ' ') %>
            <%= link_to 'Mehr lesen', article_path(article) if article.content.length >= 300 %>
          </p>
          <p class="card-text">
            <small class="text-muted">Veröffentlicht: <%= I18n.l(article.date, format: "%A %d.%m.%Y", locale: :de) %></small>
          </p>
          <%= link_to "Lesen", article_path(article.id), class: "btn btn-custom-primary-sm", style: "float: right" %>
        </div>
      </div>
    </div>
  <% end %>
</div>



