<div id="<%= dom_id camp %>">
  <p>
    <strong>Name:</strong>
    <%= camp.name %>
  </p>

  <p>
    <strong>General description:</strong>
    <%= camp.general_description %>
  </p>

  <p>
    <strong>Quote:</strong>
    <%= camp.quote %>
  </p>

  <p>
    <strong>Template:</strong>
    <%= camp.template %>
  </p>

  <p>
    <strong>This camp description:</strong>
    <%= camp.this_camp_description %>
  </p>

</div>
