<style>
    .camp-header {
<!--        background-image: url(<%#= rails_blob_url(title_image) %>);-->
        background-position: 50% 40%;
        background-size: cover;
        min-height: 30vh;
        max-width: 100%;
        justify-content: center;
        align-content: center;
    }
</style>

<!-- Header -->
<div class="container text-center camp-header">
  <h1 class="dm-sans-title m-3 camp-title"><%= camp.name if present? %></h1>
</div>



<div class="container">
  <div class="row">
    <div class="col text-center camp-description">
      <h3>Was ist ein <%= camp.name %>?</h3>
      <p><%= camp.general_description %></p>
    </div>
  </div>
</div>

<% if camp.template == "Lager ausgeschrieben" %>
  <div class="post-it-container">
    <h1 class="fuzzy-bubbles-bold post-it-title-2 m-3" style="font-size: calc(10px + 3vw); color: black"><%= camp.name %> <%= Date.today.year %></h1>
  </div>
  <div class="container mt-3">
    <div class="row w-100" style="max-width: 100vw">
      <div class="col w-50 mt-5">
        <div class="container">
          <header class="text-center">
            <h1 style="font-family: DM Sans, sans-serif">Infos</h1>
            <hr>
          </header>
          <p style="font-family: DM Sans, sans-serif"><%= camp.this_camp_description %></p>

        </div>
      </div>
      <div class="col w-50">
        <% @leader = camp.leader %>
        <%= render partial: "shared/contact_form",
                   locals: { image: @leader.image,
                             name: "#{@leader.first_name} #{@leader.last_name} v/o #{@leader.pfadiname.capitalize}",
                             funktion: "#{@leader.funktion} // Hauptlagerleitung #{camp.name}",
                             email: "#{@leader.email}" } if @leader.present? %>
      </div>
    </div>
  </div>


<% elsif camp.template == "Kein Lager ausgeschrieben" %>
  <hr>
  <div class="container mt-3">
    <div class="row justify-content-center w-100">
      <div class="col-lg-12 text-center no-camp-box">
        <h3> Momentan gibt es keine Infos zum nächsten <%= camp.name %>, bitte schau doch später mal vorbei! </h3>
      </div>
    </div>
  </div>
<% end %>


<script>
    // Wait until the DOM is fully loaded
    document.addEventListener("DOMContentLoaded", function () {
        const imageContainer = document.getElementById('imageContainer');
        const textContainer = document.getElementById('textContainer');
        const campImage = document.getElementById('campImage');

        // Get the height of the text container
        const textHeight = textContainer.offsetHeight;

        // Set the image container height to match the text container
        campImage.style.height = textHeight + 'px';
    });
</script>
