<style>
  .camp-header {
    position: relative;
    background-image: url(<%= rails_blob_url(title_image) if title_image.present?%>);
    background-size: cover;
    background-position: center;
    height: 30rem;
    border-radius: 5px;
    overflow: hidden; /* Ensure the overlay stays within the header */
    margin-bottom: 2rem;
    }
</style>

<!-- Header -->
<div class="container d-flex flex-wrap align-content-center justify-content-center camp-header">
  <h1 class="header-content camp-title"><%= camp.name if present? %></h1>
</div>



<div class="container">
  <div class="row">
    <div class="col text-center box-card">
      <h1>Was ist ein <%= camp.name %>?</h1>
      <p><%= camp.general_description %></p>
    </div>
  </div>
</div>

<% if camp.template == "Lager ausgeschrieben" %>
  <div class="post-it-container">
    <h1 class="fuzzy-bubbles-bold post-it-title-2 m-3" style="font-size: calc(10px + 3vw); color: black"><%= camp.name %> <%= Date.today.year %></h1>
  </div>
  <div class="container mt-3">
    <div class="row w-100" style="max-width: 100vw">
      <div class="col w-50 mt-5">
        <div class="container">
          <header class="text-center">
            <h1 style="font-family: DM Sans, sans-serif">Infos</h1>
            <hr>
          </header>
          <p style="font-family: DM Sans, sans-serif"><%= camp.this_camp_description %></p>
        </div>
      </div>
      <div class="col w-50 shrink">
        <% @leader = camp.leader %>
        <%= render partial: "shared/contact_form",
                   locals: { image: @leader.image,
                             name: "#{@leader.first_name} #{@leader.last_name} v/o #{@leader.pfadiname.capitalize}",
                             funktion: "#{@leader.funktion} // Hauptlagerleitung #{camp.name}",
                             email: "#{shorthand}@pfadi-hoefe.ch" } if @leader.present? %>
      </div>
    </div>
  </div>


<% elsif camp.template == "Kein Lager ausgeschrieben" %>
  <hr>
  <div class="container mt-3">
    <div class="row justify-content-center w-100">
      <div class="col-lg-12 text-center no-camp-box">
        <h3> Momentan gibt es keine Informationen zum nächsten <%= camp.name %>, bitte schau doch ein anderes Mal vorbei! </h3>
      </div>
    </div>
  </div>
<% end %>
<br>
