<p style="color: green"><%= notice %></p>

<% content_for :title, "Camps" %>

<h1>Camps</h1>

<div id="camps">
    <p>
      <%= link_to "Pfingstlager", pfila_path, class: "btn btn-custom-success" %>
    </p>
    <p>
      <%= link_to "Sommerlager", pfila_path, class: "btn btn-custom-danger" %>
    </p>
    <p>
      <%= link_to "Wochenlager", pfila_path, class: "btn btn-custom-primary" %>
    </p>
</div>

<%= link_to "New camp", new_camp_path %>
