<p style="color: green"><%= notice %></p>

<%= render @camp %>

<div>
  <%= link_to "Edit this camp", edit_camp_path(@camp) %> |
  <%= link_to "Back to camps", camps_path %>

  <%= button_to "Destroy this camp", @camp, method: :delete %>
</div>
