<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
      /* Email styles need to be inline */
  </style>
</head>

<body>
<p><strong>Name: </strong><%= @anmeldung.firstname %> <%= @anmeldung.lastname %></p>
<p><strong>Geburtstag: </strong><%= @anmeldung.birthday %></p>
<p><strong>E-Mail: </strong><%= @anmeldung.email %></p>
<p><strong>Telefonnummer: </strong><%= @anmeldung.phone %></p>
<p><strong>Strasse: </strong><%= @anmeldung.address %></p>
<p><strong>Postleitzahl: </strong><%= @anmeldung.zipcode %></p>
<p><strong>Ort: </strong><%= @anmeldung.place %></p>
<p><strong>Allergien: </strong><%= @anmeldung.allergies %></p>
<p><strong>Stufe: </strong><%= @anmeldung.stufe %></p>
<p><strong>Krankenkasse: </strong><%= @anmeldung.krankenkasse %></p>
<p><strong>AHV-Nummer: </strong><%= @anmeldung.ahv_number %></p>
<p><strong>Nachricht: </strong><%= @anmeldung.message %></p>
<p><strong>Rechte an Bildern: </strong><%= @anmeldung.rights_to_pictures %></p>
<p><strong>Pfadikravatte bestellt?: </strong><%= @anmeldung.order_pfadikravatte %></p>
</body>
</html>
