<div class="box-card">
  <div class="container">
    <%= simple_form_for @kleider, local: true, html: { multipart: true } do |f| %>

      <%= f.input :name, required: true %>
      <%= f.input :description, as: :text, label: "Beschreibung", hint: "Am Besten hier die Grössen und weitere Infos angeben." %>
      <div class="input-group gap-3">
        <%= f.input :image %>
        <%= f.input :price, as: :float %>
      </div>

      <% f.hidden_field :order_list, value: session[:shopping_list] %>
      <div class="text-center my-3">
        <%= f.submit "Erstellen", class: "btn btn-custom-primary" %>
      </div>
    <% end %>
  </div>
</div>
