<div class="col-lg-4 col-md-8 col-sm-12 my-3">
  <div class="card shadow-lg grow" style=" border: 2.5px solid green">
    <%= image_tag url_for(kleider.image), height: 300, width: 200, class: "card-img-top", style: "object-fit: cover" if kleider.image.attached? %>
    <div class="card-body">
      <h3 class="boot-card-title"><%= kleider.name %></h3>
      <p class="card-text"><%= kleider.description %></p>

      <%= form_with url: add_to_list_kleider_path(kleider), method: :post, local: true do |form| %>
        <small class="text-body-secondary"><strong>Preis: </strong><%= kleider.price %>0 Fr. </small>

        <div class="input-group mt-3">
          <%= form.label :amount, "Menge:", class: "input-group-text" %>
          <%= form.number_field :amount, value: 1, min: 1, class: "form-control", style: "width: 3vw;" %>
          <%= form.submit "Hinzufügen", class: "btn-custom-success-sm" %>
        </div>

        <div class="btn-group mt-3 text-align-center">
          <% if leader_signed_in? %>
            <%= link_to "Bearbeiten", edit_kleider_path(kleider.id), class: "btn btn-custom-warning-sm" %>
            <%= link_to "Löschen", kleider, data: { turbo_method: :delete, turbo_confirm: "Bist du dir sicher?" }, class: "btn btn-custom-danger-sm" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
