<div id="<%= dom_id kleider %>">
  <div class="col">
    <div class="card shadow-sm">
      <%= image_tag("#{kleider.image}", class: "card-img-top") if kleider.image.present? %>
      <div class="card-body">
        <h5><%= kleider.name %></h5>
        <p class="card-text"><%= kleider.description %></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <%= link_to "Anzeigen", kleider_path(kleider.id), class: "btn btn-sm btn-outline-secondary" %>
            <% if current_leiter.present? %>
              <%= link_to "Bearbeiten", edit_kleider_path(kleider.id), class: "btn btn-sm btn-outline-warning" %>
              <%= link_to "Löschen", kleider, data: { turbo_method: :delete }, class: "btn btn-sm btn-outline-danger" %>
          <% end %>
          </div>
          <small class="text-body-secondary"><strong>Grössen: </strong><%= kleider.size %> </small>
          <small class="text-body-secondary"><strong>Preis: </strong><%= kleider.price %>0 Fr. </small>
        </div>
      </div>
    </div>
  </div>
</div>
