<div id="<%= dom_id kleider %>">
  <div class="col">
    <div class="card shadow-sm">
      <%= image_tag url_for(kleider.image), class: "card-img-top" if kleider.image.attached? %>
      <div class="card-body">
        <h5><%= kleider.name %></h5>
        <p class="card-text"><%= kleider.description %></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <%= link_to "Anzeigen", kleider_path(kleider.id), class: "btn btn-sm btn-outline-secondary" %>
            <% if current_leiter.present? %>
              <%= link_to "Bearbeiten", edit_kleider_path(kleider.id), class: "btn btn-sm btn-outline-warning" %>
              <%= link_to "Löschen", kleider, data: { turbo_method: :delete }, class: "btn btn-sm btn-outline-danger" %>
            <% end %>
          </div>
          <small class="text-body-secondary"><strong>Preis: </strong><%= kleider.price %>0 Fr. </small>
          <%= form_with url: add_to_list_kleider_path(kleider), method: :post, local: true do |form| %>
            <div class="input-group mt-2">
              <%= form.label :amount, "Menge:", class: "input-group-text" %>
              <%= form.number_field :amount, value: 1, min: 1, class: "form-control", style: "width: 60px;" %>
              <%= form.submit "Hinzufügen", class: "btn btn-sm btn-outline-success" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>