<style>
    #navbar {
        position: sticky;
        top: 15px;
        overflow: visible;
        z-index: 100;

        background-color: #ae0000;
        border-radius: 25px;
        width: 98%;


        margin: 0 auto; /* Centers the navbar within its container */
        left: 0; /* Removes any default left offset */
        right: 0; /* Removes any default right offset */

        font-family: "DM Sans", sans-serif;
    }






</style>

<nav class="navbar navbar-expand-lg" data-bs-theme="dark" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag("pfadi_logo.jpeg", style: "width:30px; height: 24px", class: "d-inline-block align-text-top") %>
      Pfadi Höfe
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= nav_link_to "Home", root_path %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Stufen
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="biber">Biber</a></li>
            <li><a class="dropdown-item" href="woelfli">Wölfli</a></li>
            <li><a class="dropdown-item" href="pfadi">Pfadi</a></li>
            <li><a class="dropdown-item" href="pios">Pios</a></li>
            <li><a class="dropdown-item" href="rover">Rover</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= nav_link_to "Verein", verein_path %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lager
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="pfila">Pfingstlager</a></li>
            <li><a class="dropdown-item" href="sola">Sommerlager</a></li>
            <li><a class="dropdown-item" href="wola">Wochenlager</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= nav_link_to "Kleiderkasten", kleiders_path %>
        </li>
        <li class="nav-item">
          <%= nav_link_to "Anmeldung", anmeldung_path %>
        </li>
        <li class="nav-item">
          <%= nav_link_to "Artikel", articles_path %>
        </li>
      </ul>

      <!-- This section moves to the right side -->
      <ul class="navbar-nav ms-auto">
        <% if current_parent.nil? && current_leader.nil? %>
          <li class="nav-item">
            <%= nav_link_to "Log In", login_path %>
          </li>
        <% elsif leader_signed_in? %>
          <li class="nav-item">
            <a href="https://cloud.linuxfabrik.io/index.php/s/XEpctQQeR4aNiin" class="nav-link">Archiv</a>
          </li>
          <li class="nav-item">
            <%= nav_link_to "Profil", profil_path(current_leader)%>
          </li>
          <li class="nav-item">
            <%= nav_link_to "Höcks", hocks_path, :get%>
          </li>
          <li class="nav-item">
            <span class="nav-link" style="color: white">Logged in as: <%= current_leader.pfadiname %></span>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", destroy_leader_session_path, method: :delete, class: "btn btn-logout" %>
          </li>
        <% else %> <!-- Parents -->
          <li class="nav-item">
            <a href="https://cloud.linuxfabrik.io/index.php/s/XEpctQQeR4aNiin" class="nav-link">Archiv</a>
          </li>
          <li class="nav-item">
            <%= nav_link_to "Logout", logout_path, :delete%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>