<nav class="navbar navbar-expand-lg mb-3" data-bs-theme="dark" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag("logo/pfadi_logo.jpeg", class: "navbar-logo") %>
      Pfadi Höfe
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= nav_link_to "Home", root_path %>
        </li>
        <li class="nav-item">
          <%= nav_link_to "Hockzettel", hockzettel_path %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Stufen
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Biber", biber_path, class: "dropdown-item" %></li>
            <li><%= link_to "Wölfli", woelfli_path, class: "dropdown-item" %></li>
            <li><%= link_to "Pfadi", pfadi_path, class: "dropdown-item" %></li>
            <li><%= link_to "Pios", pios_path, class: "dropdown-item" %></li>
            <li><%= link_to "Rover", rover_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= nav_link_to "Verein", verein_path %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lager
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Pfingstlager", pfila_path, class: "dropdown-item" %></li>
            <li><%= link_to "Sommerlager", sola_path, class: "dropdown-item" %></li>
            <li><%= link_to "Wochenlager", wola_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= nav_link_to "Kleiderkasten", kleiders_path %>
        </li>
        <li class="nav-item">
          <%= nav_link_to "Beiträge", articles_path %>
        </li>
        <li class="nav-item">
          <%= nav_link_to "Sponsoren", sponsors_path %>
        </li>
        <li class="nav-item">
          <%= nav_link_to "Anmeldung", anmeldung_path %>
        </li>
      </ul>

      <!-- This section moves to the right side -->
      <ul class="navbar-nav ms-auto my-auto">
        <li class="nav-item">
          <a href="https://cloud.linuxfabrik.io/index.php/s/XEpctQQeR4aNiin" class="nav-link">Archiv</a>
        </li>
        <% if current_leader.nil? %>
          <li class="nav-item">
            <%= nav_link_to "Log In", login_path %>
          </li>
        <% else leader_signed_in? %>
          <li class="nav-item">
            <%= nav_link_to "Lager", camps_path %>
          </li>
          <li class="nav-item">
            <%= nav_link_to "Höcks", hocks_path, :get %>
          </li>
          <li class="nav-item">
            <%= nav_link_to "Profil", profil_path do %>

            <% end %>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", destroy_leader_session_path, method: :delete, class: "nav-link", "data-turbo-confirm": "Bist du dir sicher?", style: "font-size: 16px" %>
          </li>
<!--          <div class="avatar">-->
<!--            <img src="<%#= rails_blob_url(current_leader.image) if current_leader.image.attached? %>" alt="">-->
<!--          </div>-->
        <% end %>
      </ul>
    </div>
  </div>
</nav>
