
<style>
    #navbar {
        position: sticky;
        top: 0;
        overflow: visible;
        background-color: #333;
        z-index: 100;
    }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag("pfadi_logo.jpeg", style: "width:30px; height: 24px", class: "d-inline-block align-text-top") %>
      Pfadi Höfe
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Stufen
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="biber">Biber</a></li>
            <li><a class="dropdown-item" href="woelfli">Wölfli</a></li>
            <li><a class="dropdown-item" href="pfadi">Pfadi</a></li>
            <li><a class="dropdown-item" href="pios">Pios</a></li>
            <li><a class="dropdown-item" href="rover">Rover</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to "Verein", verein_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Anmeldung", anmeldung_path, class: "nav-link" %>
        </li>
        <li>
          <% if current_leiter.nil? %>
            <li class="nav-item" style="position: fixed; right: 10px">
              <%= link_to "Verein", login_path, class: "nav-link" %>
            </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Profil", profil_path, class: "nav-link", style: "margin-left: 51vw" %>
          </li>
          <li>
            <%= link_to "Höcks", hocks_path, method: :get, class: "nav-link", style: "margin-left: 10px" %>
          </li>
          <li class="nav-item">
            <span class="navbar-text" style="margin-left: 20px; position: fixed; color: white">
              Logged in as: <%= current_leiter.pfadiname %>
            </span>
          </li>
          <li>
            <%= link_to "Logout", logout_path, method: :delete, class: "nav-link", style: "margin-left: 10vw" %>
          </li>
          <% end %>
        </ul>
    </div>
  </div>
</nav>