<div class='mb-5'>
  <div class='card p-4 rounded-4 border-0 bg-primary w-100 position-relative renuo-card'>
    <div class='<%= random_bg_color %> rounded-4 z-index-0 position-absolute start-0 top-0 w-100 h-100 renuo-card-bg'></div>
    <div class='row position-relative z-index-1'>
      <div class='col-lg-8 d-flex flex-column'>
        <div class='d-flex d-lg-none py-3'>
          <%= image_tag rails_blob_path(article.image), class: 'w-100 h-100 rounded-4 border-0', alt: 'Placeholder Image' %>
        </div>
        <div class='card-body d-flex flex-column flex-grow-1 p-0'>
          <h1 class='card-title text-white text-left p-4'><%= article.title %></h1>
          <h3 class="card-text text-white text-left px-4">
            <%= remove_brackets(article.content.to_plain_text.truncate(150))  %>
          </h3>
          <div class='row mt-auto'>
            <div class='col-2 col-md-1 pe-0'>
              <%= image_tag rails_blob_path(article.leader.image), class: 'rounded-2 w-75', alt: 'Placeholder Image' %>
            </div>
            <div class='col mt-auto ps-0 ps-lg-1'>
              <p class='card-text mb-0 text-white'>By <b><%= article.leader.pfadiname %></b></p>
              <p class='card-text text-white'><%= article.date.strftime("%-d.%-m.%Y") %></p>
            </div>
            <div class='col-auto mt-auto'>
              <div class='bg-primary-subtle text-primary rounded-pill py-1 px-2'>
                <i class='fa-solid fa-arrow-right button-arrow'></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-lg-4 d-none d-lg-flex'>
        <%= image_tag rails_blob_path(article.image), class: 'w-100 rounded-4 border-0', alt: 'Placeholder Image' %>
      </div>
    </div>
  </div>
</div>
