<style>
    .article {
    }
</style>

<% if article.present? %>
  <div class="article" style="width: 60%">
    <h2 class="dm-sans-title"><%= article.title %></h2>
    <hr>
    <p class="dm-sans-description" style="white-space: wrap">
      <%= truncate(article.content, length: 500, separator: ' ') %>
      <%= link_to "Mehr lesen", article_path(article.id) if article.content.length >= 500%> <!-- Truncates content to 300 characters -->

    </p>
    <hr>
    <p class="dm-sans-description" style="float: left">
      <strong>Veröffentlicht: </strong><%= article.date.strftime("%d.%m.%Y") %>
      <%= " // Dieser Beitrag hat auch Bilder!" if article.images.present? %>
    </p>
  </div>
<% else %>
  <div class="article">
    <h2> </h2>
    <hr>
    <p> </p>
    <hr>
    <p style="float: left"> </p>
    <p style="float: left; margin-left: 10px"> </p>
    <p style="float: left; margin-left: 10px"> </p>
  </div>
<% end %>