<style>
    .hock {
        border: 3px solid #e4be1a;
        border-radius: 25px;
        padding: 10px;
        width: calc(100% - 10%); /* Adjust width so that multiple hocks fit horizontally */
        margin: calc(2px + 0vw);
        background-color: rgb(255, 255, 255);
    }
</style>


<% if hock.present? %>
  <div class="hock">
    <h2 class="dm-sans-title"><%= hock.title %></h2>
    <hr>
    <p class="dm-sans-description" style="white-space: pre-wrap"><%= hock.description %></p>
    <hr>
    <p class="dm-sans-description" style="float: left"><strong>Datum & Zeit: </strong> <%= hock.datetime.strftime("%d.%m.%Y // %H:%M") %></p>
    <p class="dm-sans-description" style="float: left; margin-left: 10px"><strong>Ort: </strong><%= hock.ort %></p>
    <p  class="dm-sans-description" style="float: left; margin-left: 10px"><strong>Leiter: </strong><%= hock.pfadiname_of_leader(hock.leader_id) %></p>
  </div>
<% else %>
  <div class="hock">
    <h2> </h2>
    <hr>
    <p> </p>
    <hr>
    <p style="float: left"> </p>
    <p style="float: left; margin-left: 10px"> </p>
    <p style="float: left; margin-left: 10px"> </p>
  </div>
<% end %>