<% if hock.present? %>
  <div class="container">
    <div class="fixed-div">
      <h3 class="fuzzy-bubbles-bold"> <%= stufe %></h3>
    </div>
    <div>
      <h2 class="dm-sans-title"><%= hock.title %></h2>
    </div>
    <hr style="margin-top: 0">
    <div>
      <%= hock.description %>
    </div>
    <hr>
    <div>
      <p class="dm-sans-description preserve-breaks"><strong>Datum & Zeit: </strong><%= hock.datetime.strftime("%d.%m.%Y // %H:%M") %>
        <strong>Ort: </strong><%= hock.ort %> <strong>Leiter: </strong><%= hock.pfadiname_of_leader(hock.leader_id) %>
      </p>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="fixed-div">
      <h5 class="fuzzy-bubbles-bold"> <%= stufe %></h5>
    </div>
    <div class="dm-sans-title">
      <h2> Oops! Kein Höck dieses Mal.. </h2>
    </div>
    <hr style="margin-top: 0">
    <div>
      <p> Momentan gibt es von dieser Stufe keinen Höck, schau doch zu einem späteren Zeitpunkt mal vorbei!</p>
    </div>
  </div>
<% end %>
