<style>
    .center{
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;
    }
    .hock {
        border: 1px solid #da5f5f;
        padding: 10px;
        margin-bottom: 10px;
    }
</style>

<h1 class="center"> Pfadi Hoefe </h1>
<p class="center"> <i>Mit freud debii! - Mis bescht! - Allzeit bereit! - Zaeme wyter! - Bewusst handeln! </i> </p>
<div class="center">
  <% if @closest_biber_hocks.present? %>
    <div class="hock">
      <h2><%= @closest_biber_hocks.title %></h2>
      <p><%= @closest_biber_hocks.description %></p>
      <p>Date: <%= @closest_biber_hocks.datetime %></p>
    </div>
  <% else %>
    <p>No upcoming Biber hocks found.</p>
  <% end %>

  <% if @closest_woelfli_hocks.present? %>
    <div class="hock">
      <h2><%= @closest_woelfli_hocks.title %></h2>
      <p><%= @closest_woelfli_hocks.description %></p>
      <p>Date: <%= @closest_woelfli_hocks.datetime %></p>
    </div>
  <% else %>
    <p>No upcoming Woelfli hocks found.</p>
  <% end %>

  <% if @closest_pfadi_hocks.present? %>
    <div class="hock">
      <h2><%= @closest_pfadi_hocks.title %></h2>
      <p><%= @closest_pfadi_hocks.description %></p>
      <p>Date: <%= @closest_pfadi_hocks.datetime %></p>
    </div>
  <% else %>
    <p>No upcoming Pfadi hocks found.</p>
  <% end %>
</div>