<div class="header align-content-center mb-4">
  <div class="row header-content h-100 gap-2">
    <div class="col-lg-5 align-content-center h-100" style="width: auto">
      <%= image_tag("logo/pfadi_logo_weiss.png", class: "header-logo") %>
    </div>
    <div class="col-lg-7 align-content-center" style="width: auto">
        Mit Freud debii - üses Bescht - allzeit bereit - zäme wiiter - bewusst handeln!
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-8 col-sm-10 gap-3 post-it shadow shrink-9">
      <%= render partial: "home/hocks", locals: { hock: @closest_biber_hock, stufe: "Biber" } %>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-10 gap-3 post-it shadow shrink-9">
      <%= render partial: "home/hocks", locals: { hock: @closest_woelfli_hock, stufe: "Wölfli" } %>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-10 gap-3 post-it shadow shrink-9">
      <%= render partial: "home/hocks", locals: { hock: @closest_pfadi_hock, stufe: "Pfadi" } %>
    </div>
    <br>
    <div class="d-flex justify-content-center mt-3">
      <%= link_to "Zum Hockzettel", hockzettel_path, class: "btn btn-custom-danger" %>
    </div>
  </div>
</div>
<br>
<hr>

<div class="post-it-container">
  <h1 class="fuzzy-bubbles-bold mb-3 post-it-title-5">Nächste Termine</h1>
</div>

<% if @latest_article.present? %>
  <br>
  <hr>
  <div class="post-it-container">
    <h1 class="fuzzy-bubbles-bold mb-3 post-it-title-5">Neuster Beitrag</h1>
  </div>
    <div class="container">
      <%= link_to article_path(@latest_article), style: "text-decoration: none" do %>
        <%= render partial: "home/articles", locals: { article: @latest_article } %>
      <% end %>
    </div>
<% end %>




