

<div class="header align-content-center mb-4">
  <div class="row header-content">
    <div class="col-lg-5 align-content-center text-right">
      <%= image_tag("logo/pfadi_logo_weiss.png", height: 350, width: 400) %>
    </div>
    <div class="col-lg-7 align-content-center">
      <h1 class="header-title">Pfadi Höfe</h1>
      <div class="d-flex justify-content-center">
        <h3 class="header-subtitle w-75 ">Mit Freud debii - üses Bescht - allzeit bereit - zäme wiiter - bewusst
        handeln!</h3>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-8 col-sm-10 m-2 post-it shadow shrink-9" style="width: 32%;">
      <%= render partial: "home/hocks", locals: { hock: @closest_biber_hock, stufe: "Biber" } %>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-10 m-2 post-it shadow shrink-9" style="width: 32%;">
      <%= render partial: "home/hocks", locals: { hock: @closest_woelfli_hock, stufe: "Wölfli" } %>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-10 m-2 post-it shadow shrink-9" style="width: 32%;">
      <%= render partial: "home/hocks", locals: { hock: @closest_pfadi_hock, stufe: "Pfadi" } %>
    </div>
    <br>
    <div class="d-flex justify-content-center">
      <%= link_to "Zum Hockzettel", hockzettel_path, class: "btn btn-custom-danger" %>
    </div>
  </div>
</div>
<br>
<hr>

<div class="post-it-container">
  <h1 class="fuzzy-bubbles-bold mb-3 post-it-title-5">Nächste Termine</h1>
</div>

<% if next_three_events %>
  <div class="container">
    <div class="row justify-content-center">
      <% next_three_events.each do |event| %>
      <div class="col">
        <div class="container box-card">
          <div class="event-header">
            <h3 class="text-left p-2"><%= event.title %></h3>
            <hr class="m-0">
          </div>
          <div class="container p-3">
            <h4 class="mb-3 text-left">
                      <span class="badge" style="background-color: <%= event.calendar.color %>;">
                        <%= event.calendar.name %>
                      </span>
          </h4>
            <div class="event-content gap-3">
              <% unless event.description.blank? %>
                <div class="d-flex align-items-center gap-3">
                  <i class="bi bi-text-paragraph"></i>
                  <p class="m-0"><%= event.description %></p>
                </div>
              <% end %>
              <% unless event.location.blank? %>
                <div class="d-flex gap-3">
                  <i class="bi bi-geo-alt"></i>
                  <p class="m-0"><%= event.location %></p>
                </div>
              <% end %>
              <div class="d-flex gap-3">
                <i class="bi bi-clock"></i>
                <% if event.start_time.hour != event.end_time.hour %>
                  <% if event.start_time.day != event.end_time.day %>
                    <%= event.start_time.strftime("%d.%m.%Y %H:%M") %>  <%= "- " + event.end_time.strftime("%d.%m.%Y %H:%M") unless event.end_time == event.start_time%>
                  <% else %>
                    <%= event.start_time.strftime("%H:%M bis ") %><%= event.end_time.strftime("%H:%M am %d.%m.%Y") %>
                  <% end %>
                <% else %>
                  <%= event.start_time.strftime("%d.%m.%Y") %>  <%= "- " + event.end_time.strftime("%d.%m.%Y") unless event.end_time == event.start_time%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>



<% @events = all_events_of_these_calendars(@home_calendars) %>
<% @ranged_events = ranged_events(@events) %>
<% @single_day_events = single_day_events(@events) %>

<turbo-frame id="calendar">
  <%= month_calendar(events: @events) do |date, events| %>
    <p class="m-2"><%= date.day %></p>
    <% events.each do |event| %>

      <% if @ranged_events.include?(event) %>
        <% if (event.end_time - 1.second) != date.day && event.end_time.day == date.day %>
          <!-- print nothing-->
        <% elsif (event.end_time - 1.second) != date.day && event.end_time == date + 1.day %>
          <span tabindex="0" class="event-end text-decoration-none"
                style="background-color: <%= event.calendar.color %>"
                role="button"
                data-bs-html="true"
                data-bs-animation="false"
                data-bs-toggle="popover"
                data-bs-trigger="focus"
                data-bs-title='<%= event.title %>'
                data-bs-content='<%= render partial: "popover_content", locals: { event: event, date: date } %>'>
            <% if event.start_time.day == date.day %>
              <%= event.title %>
            <% else %>
              <p class="m-0" style="color: <%= event.calendar.color %>"><%= event.title %></p>
            <% end %>
            </span>
        <% else %>
          <span tabindex="0" class="event-<%= start_middle_or_end(event, date) %> text-decoration-none"
                style="background-color: <%= event.calendar.color %>"
                role="button"
                data-bs-html="true"
                data-bs-animation="false"
                data-bs-toggle="popover"
                data-bs-trigger="focus"
                data-bs-title='<%= event.title %>'
                data-bs-content='<%= render partial: "popover_content", locals: { event: event, date: date } %>'>
            <% if event.start_time.day == date.day %>
              <%= event.title %>
            <% else %>
              <p class="m-0" style="color: <%= event.calendar.color %>"><%= event.title %></p>
            <% end %>
            </span>
        <% end %>
      <% else %>
        <% if event.start_time.day == date.day %>
          <span tabindex="0" class="event-single-day text-decoration-none"
                      style="background-color: <%= event.calendar.color %>"
                      role="button"
                      data-bs-html="true"
                      data-bs-animation="false"
                      data-bs-toggle="popover"
                      data-bs-trigger="focus"
                      data-bs-title='<%= event.title %>'
                      data-bs-content='<%= render partial: "popover_content", locals: { event: event, date: date } %>'>
          <%= event.title %>
        </span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</turbo-frame>
<div class="container d-flex gap-2 flex-wrap">
  <% @home_calendars.each do |calendar| %>
    <div class="calendar-legend d-flex justify-content-center" style="background-color: <%= calendar.color %>">
      <p class="m-0 px-2"><%= calendar.name %></p>
    </div>
  <% end %>
</div>

<br>
<hr>
<div class="post-it-container">
  <h1 class="fuzzy-bubbles-bold mb-3 post-it-title-5">Neuster Beitrag</h1>
</div>
<% if @latest_article.present? %>
  <div class="container">
    <%= link_to article_path(@latest_article), style: "text-decoration: none" do %>
      <%= render partial: "home/articles", locals: { article: @latest_article } %>
    <% end %>
  </div>
<% else %>
  <%= render partial: "shared/empty_state", locals: { name: "Beitrag" } %>
<% end %>




