<div class="post-it-container text-center">
  <h1 class="fuzzy-bubbles-bold post-it-title-5">⚜️ Pfadi ⚜️</h1>
</div>

<!-- Banners -->
<div class="d-flex container flex-wrap" id="pfadi-banner">
  <div class="row h-100 p-0 m-0">
    <div class="col" id="pfadi-banner-image">
      <%= image_tag("stufen/pfadi/img_2.png", class: "img-fluid br-10", id: "pfadi-banner-image" ) %>
    </div>
    <div class="col align-content-center" id="pfadi-banner-text">
      <p class="dm-sans-description text-center" id="pfadi-banner-text">
        <strong>Bist du neugierig, abenteuerlustig und zwischen 10 und 14 Jahren alt?</strong>
        Dann bist du bei der Pfadistufe genau richtig!
        Wir treffen uns ca. 3 Mal im Monat am Samstag,
        um gemeinsam vielerlei Abenteuer zu erleben. Ob eine Nachtwanderung, ein grosses Geländespiel
        mit anderen Pfadis oder das Bauen eines eigenen Geheimverstecks, es ist alles mit dabei.
        Bei uns lernst du grossartige Spiele und viele neue Freundinnen und Freunde kennen,
        welche dich ein Leben lang begleiten werden.
      </p>
    </div>
  </div>
  <div class="row h-100">
    <div class="col align-content-center" id="pfadi-banner-text">
      <p class="dm-sans-description text-center" id="pfadi-banner-text">
        <strong>Der Höhepunkt des Pfadijahres ist das <a href="/sola" target="_blank">Sommerlager</a></strong> – gemeinsam mit unseren Leitpersonen verbringen
          wir zwei Wochen in einem Zeltlager irgendwo in der Schweiz. Verpackt in ein spannendes Lagerthema erleben
          wir die grössten Abenteuer, die du dir nur vorstellen kannst. Dabei stellen wir unser eigenes kleines Dorf
          auf – von unserer Küche bis zu speziellen Bauten, wie einer Seilbahn, bauen wir alles selbst.
      </p>
    </div>
    <div class="col align-content-center" id="pfadi-banner-image">
      <%= image_tag("stufen/pfadi/img_1.png", class: "img-fluid br-10", id: "pfadi-banner-image" ) %>
    </div>
  </div>
  <div class="row h-100">
    <div class="col align-content-center" id="pfadi-banner-image">
      <%= image_tag("stufen/pfadi/img.png", class: "img-fluid br-10", id: "pfadi-banner-image" ) %>
    </div>
    <div class="col align-content-center" id="pfadi-banner-text">
      <p class="dm-sans-description text-center" id="pfadi-banner-text">
        Natürlich verbinden uns als Pfadis auch gemeinsame Werte. Unser Wahlspruch lautet<strem>«Allzeit bereit»</strem>.
        Wir sind also immer bereit neue Abenteuer zu erleben und für unsere Gemeinschaft einzustehen.
        Dies zeigt sich auch in unserem Zusammenleben. <strong>Wir nehmen aufeinander Rücksicht</strong> und begegnen uns,
        sowie unserer Umwelt, mit Respekt. Zudem lernen wir schon früh, was es heisst Verantwortung zu übernehmen –
        ob für sich selbst, für die Umwelt oder für andere.
      </p>
    </div>
  </div>
</div>

<!-- Stufenleitung -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-10">
      <% @leader = Leader.where(stufe: "Pfadi", funktion: "Stufenleitung").first %>

      <%= render partial: "shared/contact_form", locals: { image: @leader.image,
                                                           name: "#{@leader.first_name} #{@leader.last_name} v/o #{@leader.pfadiname.capitalize}",
                                                           funktion: "#{@leader.funktion} #{@leader.stufe}",
                                                           email: "#{@leader.email}" } if @leader.present? %>
    </div>
    <div class="col align-content-center" id="pfadi-banner-text">
      <p class="text-center preserve-breaks" style="font-size: 40px">
        <strong> Na, haben wir dein Interesse geweckt?</strong>
        Dann nimm gerne Kontakt mit unserer Stufenleitung <%= @leader.pfadiname.capitalize %> auf, um einen «Schnupper-Höck» zu vereinbaren!
      </p>
    </div>
  </div>
</div>


<div class="post-it-container text-center">
  <h1 class="fuzzy-bubbles-bold post-it-title-5 w-50"> Pfadileitungs-Team</h1>
</div>
<!-- Leitpersonen -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-10">
      <% @leaders = Leader.where(stufe: "Pfadi").where.not(funktion: "Stufenleitung") %>
      <% @leaders.each do |t| %>
        <%= render partial: "shared/contact_form", locals: { image: t.image,
                                                             name: "#{t.first_name} #{t.last_name} v/o #{t.pfadiname.capitalize}",
                                                             funktion: "#{t.funktion} #{t.stufe}",
                                                             email: "#{t.email}" } if t.present? %>
      </div>
    </div>
  <% end %>
</div>
