<p style="color: green"><%= notice %></p>

<%= render @archive %>

<div>
  <%= link_to "Edit this archive", edit_archive_path(@archive) %> |
  <%= link_to "Back to archives", archives_path %>

  <%= button_to "Destroy this archive", @archive, method: :delete %>
</div>
