<%= form_with model: @leiter, url: leiter_path do |form| %>
  <% if leiter.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(leiter.errors.count, "error") %> prohibited this Leiter from being saved:</h2>

      <ul>
        <% leiter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :pfadiname, style: "display: block" %>
    <%= form.text_field :pfadiname, placeholder: "Koala" %>
  </div>
  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, placeholder: "koala@pfadi-hoefe.ch" %>
  </div>
  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password, placeholder: "Passwort" %>
  </div>
  <div>
    <%= form.label :password_confirmation, style: "display: block" %>
    <%= form.password_field :password_confirmation, placeholder: "Nochmals Passwort" %>
  </div>
  <div>
    <%= form.submit "Log In"%>
  </div>
<% end %>