<div class="container justify-content-center">
  <div class="row">
    <% if hocks.present? %>
      <div class="col-lg-3 d-flex flex-wrap gap-3 w-100">
        <% hocks.each do |hock| %>
          <div class="hock grow shadow-lg">
            <h3><%= hock.title %></h3>
            <hr>
            <div>
              <%= remove_brackets(hock.description.to_plain_text.truncate(150)) if present? %>
            </div>
            <div>
              <hr>
              <p><strong>Datum & Zeit: </strong> <%= hock.datetime.strftime("%d.%m.%Y // %H:%M") %> //
                <strong>Leiter: </strong><%= hock.pfadiname_of_leader(hock.leader_id) %></p>
              <p></p>

              <div class="d-flex justify-content-between">
                <%= button_to "Bearbeiten", edit_hock_path(hock),
                              method: :get,
                              class: "btn-custom-warning-sm py-1" %>
                <%= button_to "Löschen", hock, method: :delete,
                              class: "btn-custom-danger-sm py-1",
                              "data-turbo-confirm": "Bist du dir sicher?" %>
                <% if hock.document.present? %>
                  <%= link_to "DP", rails_blob_path(hock.document, disposition: "attachment"),
                              class: "btn btn-custom-primary-sm px-5 py-1" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="row justify-content-center w-100">
        <div class="col justify-content-center mb-3 no-camp-box">
          <h3> Kein Höck für diese Stufe erfasst. </h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
