<style>
.hocks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Adds space between items */
    gap: 20px; /* Adds gap between hocks */
    margin: 20px;
}

.hock{
    width: 20%;
    border-color: black;
}
</style>
<div class="divider dm-sans-title"><%= stufe %> Höcks</div>
<% if hocks.present? %>
  <div class="hocks-container">
    <% hocks.each do |hock| %>
      <div class="hock grow shadow-lg">
        <h3><%= hock.title %></h3>
        <hr>
        <p><%= hock.description %></p>
        <p><strong>Datum & Zeit: </strong> <%= hock.datetime.strftime("%d.%m.%Y // %H:%M") %></p>
        <p><strong>Leiter: </strong><%= hock.pfadiname_of_leader(hock.leader_id) %></p>
        <%= button_to "Bearbeiten", edit_hock_path(hock), class: "btn-custom-warning-sm", style: "padding: 5px; float: left; margin: 0 15px 10px 0" %>
        <%= button_to "Löschen", hock, method: :delete, class: "btn-custom-danger-sm", data: {confirm: "Bist du dir sicher?"}, style: "padding: 5px;" %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="dm-sans-description"> Keine <%= stufe %>-Höcks vorhanden.</p>
<% end %>

