<%= form_with(model: hocks) do |form| %>
  <% if hocks.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hocks.errors.count, "error") %> prohibited this hock from being saved:</h2>

      <ul>
        <% hocks.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
