<div class="box-card">
  <%= simple_form_for @hock do |f| %>
    <%= f.input :title, label: "Titel" %>
    <%= f.input :description, as: :rich_text_area, label: "Beschreibung" %>
    <div class="input-group gap-3">
      <%= f.input :datetime, html5: true, label: "Datum & Uhrzeit" %>
      <%= f.input :stufe, collection: stufen, selected: "Biber" %>
    </div>
    <%= f.input :leader_id, as: :hidden %>
    <div class="text-center my-3">
      <%= f.submit "Erstellen", class: "btn btn-custom-primary" %>
    </div>
<% end %>
</div>
