<style>
  .center{
  position: relative;
  top: 20px;
  max-width: 700px;
  margin: auto;
  }
</style>
<body style="background-color: beige">
<%= form_with(model: @hock) do |form| %>
  <% if @hock.errors.any? %>
    <div class=center" style="color: red">
      <h2><%= @hock.errors.count %> verhinderte(n) das Speichern des Höcks:</h2>
      <ul>
        <% @hock.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="center input-group mb-3 mt-3">
    <span class="input-group-text" id="title">Titel</span>
    <input type="text" name="hock[title]" id="hock_title" value="<%= @hock.title if present? %>" class=" form-control" aria-label="title">
  </div>


  <div class="center input-group mb-4">
    <span class="input-group-text">Beschreibung</span>
    <textarea name="hock[description]" id="hock_description" class="form-control" aria-label="description" rows="10"><%= @hock.description if present? %></textarea>
  </div>

  <div class="center input-group mb-3">
    <span class="input-group-text">Datum</span>
    <%= form.datetime_field :datetime, class: "form-control" %>
  </div>

  <div class="center input-group mb-3">
    <label class="input-group-text" for="hock_stufe">Stufe</label>
    <select name="hock[stufe]" id="hock_stufe" class="form-select" aria-label="stufe select">
      <option selected value="Biber">Biber</option>
      <option value="Wölfli">Wölfli</option>
      <option value="Pfadi">Pfadi</option>
    </select>
  </div>

  <div class="center input-group mb-3">
    <span class="input-group-text">Ort</span>
    <%= form.text_field :ort, class: "form-control" %>
  </div>

  <div>
    <%= form.hidden_field :leiter_id, value: current_leiter.id %>
  </div>

  <div class="center">
    <%= form.submit "Erstellen", class: "btn btn-success btn-lg" %>
  </div>
<% end %>
</body>