<div id="<%= dom_id hock %>">
  <p>
    <strong>Title:</strong>
    <%= hock.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= hock.description %>
  </p>
  <p>
    <strong>Date & Time:</strong>
    <%= hock.datetime.to_time %>
  </p>
  <p>
    <strong>Stufe:</strong>
    <%= hock.stufe %>
  </p>
  <p>
    <strong>Autor:</strong>
    <%= hock.pfadiname_of_leiter %>
  </p>

</div>
