<style>

    .center{
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;

    }

    .divider {
        font-size: 30px;
        display: flex;
        align-items: center;
    }

    .divider::before, .divider::after {
        flex: 1;
        content: '';
        padding: 3px;
        background-color: red;
        margin: 5px;
    }
</style>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Höcks" %>

<h1 class="dm-sans-title" style="font-size:calc(30px + 2vw);">Höcks</h1>

<br>
<%= link_to "Neuer Höck", new_hock_path, class: "btn btn-success btn-lg", style: "margin: 10px; width: fit-content" %>
<br>



<div id="hocks">
  <%= render partial: "display", locals: { hocks: @biber_hocks, stufe: "Biber" } %>
  <%= render partial: "display", locals: { hocks: @woelfli_hocks, stufe: "Wölfli" } %>
  <%= render partial: "display", locals: { hocks: @pfadi_hocks, stufe: "Pfadi" } %>
  <div class="divider"></div>
</div>

