<style>
    .hocks-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Adds space between items */
        gap: 20px; /* Adds gap between hocks */
    }

    .hock {
        border: 3px solid #e4be1a;
        border-radius: 25px;
        padding: 10px;
        width: 20%; /* Adjust width so that multiple hocks fit horizontally */
        margin-left: 10px;
        background-color: white;

    }
    .center{
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;

    }

    .divider {
        font-size: 30px;
        display: flex;
        align-items: center;
    }

    .divider::before, .divider::after {
        flex: 1;
        content: '';
        padding: 3px;
        background-color: red;
        margin: 5px;
    }
</style>

<body style="background-color: beige">
<p style="color: green"><%= notice %></p>

<% content_for :title, "Höcks" %>

<h1 class="dm-sans-title" style="font-size:70px;">Höcks</h1>

<br>
<%= link_to "Neuer Höck", new_hock_path, class: "btn btn-success btn-lg", style: "margin: 10px" %>
<br>



<div id="hocks">
  <%= render partial: "display", locals: { hocks: @biber_hocks, stufe: "Biber" } %>
  <%= render partial: "display", locals: { hocks: @woelfli_hocks, stufe: "Wölfli" } %>
  <%= render partial: "display", locals: { hocks: @pfadi_hocks, stufe: "Pfadi" } %>
  <div class="divider"></div>
</div>

</body>
