<style>
    .center {
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;
    }
</style>

<body style="background-color: beige">
<p style="color: green"><%= notice %></p>

<div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-lg-12 col-md-8 col-sm-10 m-4 grow-xl">
      <%= render @hock %>
    </div>
  </div>
</div>

<div class="center">
  <%= link_to "Höck bearbeiten", edit_hock_path(@hock), class: "btn btn-custom-warning", style: "margin: 20px" %>
  <%= link_to "Zurück zur Ansicht", hocks_path, class: "btn btn-custom-primary" %>

  <%= button_to "Höck löschen", @hock, method: :delete, class: "btn btn-custom-danger", style: "margin: 10px" %>
</div>
