<style>
  .center{
      position: relative;
      top: 20px;
      max-width: 300px;
      margin: auto;
  }
</style>

<p style="color: green"><%= notice %></p>

<%= render @hock %>

<div class="center">



  <%= link_to "Edit this hock", edit_hock_path(@hock), class: "btn btn-primary btn-sm" %> |
  <%= link_to "Back to hocks", hocks_path, class: "btn btn-primary btn-sm" %>

  <%= button_to "Destroy this hock", @hock, method: :delete, class: "btn btn-danger btn-sm", style: "margin: 10px" %>
</div>
