<div class="container hock-bubble-white">
  <% @leader = current_leader %>


  <h1 class="mb-3">Profil bearbeiten</h1>

  <%= simple_form_for @leader, as: :leader, url: leader_registration_path, html: { multipart: true, method: :put } do |f| %>
    <%= render "leaders/shared/error_messages", resource: resource %>
    <%= f.input :pfadiname %>
    <div class="input-group gap-3">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :stufe, as: :select, collection: stufen, selected: "Biber" %>
      <%= f.input :funktion,
                  collection: funktionen_subcategories,
                  as: :grouped_select,
                  group_method: :last,
                  label_method: :itself,
                  value_method: :itself,
                  selected: funktionen_subcategories.values.flatten.first %>
    </div>

    <%= f.input :image, value: @leader.image %>

    <%= f.input :password, hint: "Wenn du dein Passwort nicht ändern möchtest, tippe dein aktuelles Passwort ein" %>
    <%= f.input :current_password, required: true %>
    <%= f.submit "Speichern", class: "btn btn-custom-primary" %>
    <%= link_to "Abbrechen", profil_path, class: "btn btn-custom-danger mx-3" %>
  <% end %>
</div>


