<!DOCTYPE html>
<html lang="de">
<head>
  <title><%= content_for(:title) || "Pfadi Höfe" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= favicon_link_tag("logo/pfadi_logo.jpeg") %>
  <link rel="apple-touch-icon" href="logo/pfadi_logo.jpeg">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

</head>

<body style="background-color: hsl(30, 50%, 98%)">
<% if controller.controller_name === "dashboard" %>
  <div class="container-fluid">
    <%= render partial: "shared/alerts" %>
    <%= yield %>
  </div>
<% else %>

  <%= render partial: "shared/navbar" %>
  <div class="container-fluid">
    <div class="container">
      <%= render partial: "shared/alerts" %>
      <%= yield %>
    </div>
  </div>
<% end %>

<div class='modal' id='turbo-alert-modal' tabindex='-1' aria-labelledby='turboAlertModalLabel' aria-hidden='true'
     data-bs-backdrop="static" data-bs-keyboard="false">
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h3 class='modal-title' id='turboAlertModalLabel'>Achtung!</h3>
      </div>
      <div class='modal-body'></div>
      <div class='modal-footer'>
        <button type="button" class="btn btn-primary" data-bs-dismiss='modal'>Bestätigen</button>
      </div>
    </div>
  </div>
</div>
<%# Confirm Modal %>
<div class='modal' id='turbo-confirm-modal' tabindex='-1' aria-labelledby='turboConfirmModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h3 class='modal-title' data-default-text="Achtung!"></h3>
      </div>
      <div class='modal-body'></div>
      <div class='modal-footer'>
        <button type="button" class="btn btn-custom-danger-sm" data-bs-dismiss='modal'>Abbrechen</button>
        <button type="button" class="btn btn-custom-success-sm" id='confirm-button'>Ja, ich bin mir sicher</button>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/footer" %>
</body>
</html>
